* {
    box-sizing: border-box;
}

.name {
    display: flex;
    justify-content: flex-start;
}

#firstname {
    margin-right: 10px;
}
#lastname {
    color: #4285f4;
    margin-left: 10px;
}


.content {
    /* font-family: Neue Montreal,sans-serif; */ 
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.intro-blob {
    display: grid;
    margin: 50px;
    position: relative;
}

h1 {
    font-weight: 500;
    font-size: 70px;
}

h2 {
    font-weight: 300;
    font-size: 30px;
}

p {
    font-size:18px;
}